body {
    background-image: url('img1.jpg');
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    color: white;
    padding: 20px;
}
